autopep8==2.0.1
certifi==2018.1.18
chardet==3.0.4
idna==2.6
pkginfo==1.4.1
prompt-toolkit==1.0.14
pycodestyle==2.10.0
Pygments==2.14.0
PyInquirer==1.0.3
regex==2022.10.31
requests==2.21.0
requests-toolbelt==0.8.0
six==1.16.0
tomli==2.0.1
tqdm==4.19.7
twine==1.10.0
urllib3==1.24.2
wcwidth==0.2.6
